body{
    background-color: #282c34;
}


.container {
    border-radius: 4px;
    background-color: white;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
}

